<!DOCTYPE html>
<html ng-app="GemStore">
	

	<head>
		<title>Gem Store Reviews Example</title>
		<script type="text/javascript" src="./jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.2-dist/css/bootstrap.css"></link>
		<script type="text/javascript" src="../bootstrap-3.3.2-dist/js/bootstrap.js" ></script>
		<script type="text/javascript" src="./angular.min.js"></script>
		<script type="text/javascript" src="exampleSeven.js"></script>
	</head>


	<body ng-controller="GemStoreController as FrontController">
		
			<div ng-repeat="storeItems in FrontController.products">
				<div ng-repeat="reviewProducts in storeItems.reviews">
					<blockquote>
						<h1 class="alert-info">Gem {{storeItems.name}}</h1>
						<h3>{{reviewProducts.body}}</h3>
						<h3>-{{reviewProducts.author}}</h3>
					</blockquote>

				<form class="table" name="inputForm" ng-controller="ReviewsStoreController as Controller" ng-submit="inputForm.$valid && Controller.addReview(storeItems)" novalidate>
					
					<input type="text" ng-model="Controller.review.stars" required></input>
					<input type="text"  ng-model="Controller.review.body" required></input>
					<input type="email"  ng-model="Controller.review.author" required></input>

					<input type="submit">

					<!--With the following code we check the validity of the input form -->
					<h1 class="alert-danger">Validatity: {{inputForm.$valid}}<h1>
				</form>

				
				</div>
			</div>


	</body>
</html>